<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity6>
  <link
    rel="stylesheet"
    type="text/css"
    href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <head>
    <meta charset="utf-8" />
    <title>Games List</title>
  </head>
  <body>
    <div th:replace="template"></div>

    <div class="container mt-5">
      <div class="card">
        <div class="card-header">Games List</div>
        <div class="card-body">
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Game Name</th>
              <th>Price</th>
            </tr>
            <tr th:each="p:${games.content}">
              <td th:text="${p.GameId}"></td>
              <td th:text="${p.GameName}"></td>
              <td th:text="${p.GamePrice}"></td>
              
              <td th:if= "${p.categorie != null}" th:text="${p.categorie.nomCat}"></td>
              <td th:if="${p.categorie == null}" th:text="${'Pas de Catégorie'}"></td>
              <td sec:authorize="hasAuthority('ADMIN')">
                <a
                  class="btn btn-danger"
                  th:href="@{supprimerGame(id=${p.GameId},page=${currentPage},size=${size})}"
                  >Supprimer</a
                >
              </td>

              <td sec:authorize="hasAuthority('ADMIN')"
              ><a 
                
                class="btn btn-success"
                th:href="@{modifierGame(id=${p.gameId},page=${currentPage},size=${size})}"
                >Editer</a></td>
                
            </tr>
          </table>
          <ul class="nav nav-pills">
            <li th:each="page,status:${pages}">
              <a
                th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
                th:href="@{ ListeGames(page=${status.index}, size=${size} ) }"
                th:text="${status.index }"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
